<!-- Job Posts -->
<section>
  <h2>Job Posts</h2>
  <div class="container text-center">
    <div class="row table">
      <div class="col">#</div>
      <div class="col">Company</div>
      <div class="col">Designation</div>
      <div class="col">Posted On</div>
      <div class="col">Last Date</div>
      <div class="col">Options</div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row table" *ngFor="let job of jobPostList; let i = index">
      <div class="col">{{i+1}}</div>
      <div class="col">{{job.company}}</div>
      <div class="col">{{job.designation}}</div>
      <div class="col">{{job.date_of_posting}}</div>
      <div class="col">{{job.last_date_to_apply}}</div>
      <div class="col">
        <button class="btn btn-secondary" (click)="selectJob(i)">View</button>
      </div>
      <ng-container *ngIf="selectedJob"></ng-container>
    </div>
  </div>
</section>
