<section class="ezy__signup1_PQS26JGS d-flex align-items-center">
  <div class="container">
    <div class="row py-4 justify-content-center">
      <div class="col-lg-12">
        <div class="card ezy__signup1_PQS26JGS-form-card">
          <div class="card-body p-md-5">
            <h2 class="ezy__signup1_PQS26JGS-heading mb-4 mb-md-5">Change Password</h2>
            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-12">
                  <div class="form-group mb-4">
                    <label for="full-name" class="mb-2">Email</label>
                    <input type="text" class="form-control" id="email" readonly formControlName="email" placeholder="Email" required />
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb-4 mt-2">
                    <label for="password" class="mb-2">Old Password</label>
                    <div class="input-group">
                      <input
                        [type]="showPassword0 ? 'text' : 'password'"
                        class="form-control"
                        formControlName="oldPassword"
                        id="oldPassword"
                        placeholder="Enter Password"
                      />
                      <div class="input-group-append">
                        <span
                          class="input-group-text"
                          (click)="togglePasswordVisibility('0')"
                          style="cursor: pointer; height: 100%;border: none;"
                        >
                          <i [class]="showPassword0? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb-4 mt-2">
                    <label for="password" class="mb-2">New Password</label>
                    <div class="input-group">
                      <input
                        [type]="showPassword1? 'text' : 'password'"
                        class="form-control"
                        formControlName="password1"
                        id="password1"
                        placeholder="Enter Password"
                      />
                      <div class="input-group-append">
                        <span
                          class="input-group-text"
                          (click)="togglePasswordVisibility('1')"
                          style="cursor: pointer; height: 100%;border: none;"
                        >
                          <i [class]="showPassword1? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb-4 mt-2">
                    <label for="password" class="mb-2">Confirm Password</label>
                    <div class="input-group">
                      <input
                        [type]="showPassword2 ? 'text' : 'password'"
                        class="form-control"
                        formControlName="password2"
                        id="password2"
                        placeholder="Enter Password"
                      />
                      <div class="input-group-append">
                        <span
                          class="input-group-text"
                          (click)="togglePasswordVisibility('2')"
                          style="cursor: pointer; height: 100%;border: none;"
                        >
                          <i [class]="showPassword2? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group mb-4 col-lg-4" style="text-align: right; display: flex;">
                <button type="submit" class="btn ezy__signup1_PQS26JGS-btn-submit w-100" style="flex-basis: max-content;">Change Password</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
