.ezy__portfolio12_p1q7ACOz {
  /* Bootstrap variables */
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;
  --ezy-play-btn-bg: 255, 255, 255;
  --ezy-card-bg: #f2f3f8;
  --ezy-border-color: #c9c9c9;

  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  overflow: hidden;
  padding: 60px 0;
  position: relative;
}

@media (min-width: 768px) {
  .ezy__portfolio12_p1q7ACOz {
    padding: 100px 0;
  }
}

/* Gray Block Style */
.gray .ezy__portfolio12_p1q7ACOz,
.ezy__portfolio12_p1q7ACOz.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);

  /* Easy Frontend variables */
  --ezy-card-bg: #ffffff;
  --ezy-border-color: #c9c9c9;
}

/* Dark Gray Block Style */
.dark-gray .ezy__portfolio12_p1q7ACOz,
.ezy__portfolio12_p1q7ACOz.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);

  /* Easy Frontend variables */
  --ezy-card-bg: rgb(11, 23, 39);
  --ezy-border-color: #676767;
}

/* Dark Block Style */
.dark .ezy__portfolio12_p1q7ACOz,
.ezy__portfolio12_p1q7ACOz.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);

  /* Easy Frontend variables */
  --ezy-card-bg: rgb(30, 39, 53);
  --ezy-border-color: #676767;
}

.ezy__portfolio12_p1q7ACOz-heading {
  font-weight: bold;
  font-size: 30px;
  line-height: 1;
}

@media (min-width: 768px) {
  .ezy__portfolio12_p1q7ACOz-heading {
    font-size: 35px;
  }
}

/* nav */
.ezy__portfolio12_p1q7ACOz .nav a {
  background-color: transparent !important;
  color: var(--bs-body-color) !important;
  border-radius: 0;
  opacity: 0.8;
  transition: 0.4s;
}

.ezy__portfolio12_p1q7ACOz .nav a:hover {
  opacity: 1;
}

.ezy__portfolio12_p1q7ACOz .nav a.active,
.ezy__portfolio12_p1q7ACOz .nav a:hover {
  border-bottom: 2px solid var(--ezy-theme-color);
  opacity: 1;
}

.ezy__portfolio12_p1q7ACOz-btn {
  font-size: 16px;
  background-color: transparent;
  color: var(--bs-body-color);
}

.ezy__portfolio12_p1q7ACOz-btn:hover {
  color: var(--ezy-theme-color);
}

/* card */
.ezy__portfolio12_p1q7ACOz .card {
  background-color: var(--ezy-card-bg);
  border: 0;
  min-height: 24vh;
}

.ezy__portfolio12_p1q7ACOz .card a {
  text-decoration: none;
  color: var(--bs-body-color);
  cursor: pointer;
}

.ezy__portfolio12_p1q7ACOz .card-text {
  font-size: 15px;
  opacity: 0.8;
}

.ezy__portfolio12_p1q7ACOz .card-title {
  font-size: 19px;
  font-weight: 500;
  line-height: 1.3;
}

.ezy__portfolio12_p1q7ACOz .card h4 {
  font-size: 16px;
}

.ezy__portfolio12_p1q7ACOz-card-btn {
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 20px;
  line-height: 1;
}

.ezy__portfolio12_p1q7ACOz-card-btn:hover {
  color: #fff !important;
}

/* play btn */
.ezy__portfolio12_p1q7ACOz-play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: rgba(var(--ezy-play-btn-bg), 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.ezy__portfolio12_p1q7ACOz-play-btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(var(--ezy-play-btn-bg), 0.2);
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

/* discount */
.ezy__portfolio12_p1q7ACOz-discount {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -25px;
  right: 10px;
  background-color: #fff;
  padding: 15px;
  border-radius: 50%;
}

.ezy__portfolio12_p1q7ACOz-discount-price {
  text-align: center;
  line-height: 1;
  font-size: 20px;
  color: var(--ezy-theme-color);
}

.ezy__portfolio12_p1q7ACOz-discount-price span {
  font-size: 16px;
  color: #000;
}

/* btn */
.ezy__portfolio12_p1q7ACOz .btn-outline {
  border-color: var(--ezy-theme-color);
  color: var(--ezy-theme-color);
}

.ezy__portfolio12_p1q7ACOz .btn-outline:hover {
  color: #fff;
  border-color: rgba(var(--ezy-theme-color-rgb), 0.9);
  background-color: rgba(var(--ezy-theme-color-rgb), 0.9);
}

/* pagination */
.ezy__portfolio12_p1q7ACOz-pagination .page-link {
  background-color: transparent;
  border: 1px solid var(--ezy-border-color);
  padding: 7px 13px;
  font-size: 14px;
  color: var(--bs-body-color);
  border-radius: 8px;
}

.ezy__portfolio12_p1q7ACOz-pagination .page-link:hover,
.ezy__portfolio12_p1q7ACOz-pagination .page-link.active {
  background-color: rgba(var(--ezy-theme-color-rgb), 0.9) !important;
  color: #f6f6f6;
  border: 1px solid rgba(var(--ezy-theme-color-rgb), 0.9);
}

.ezy__portfolio12_p1q7ACOz-arrow {
  color: #fff !important;
  background-color: var(--ezy-theme-color) !important;
  border: 1px solid var(--ezy-theme-color) !important;
  border-radius: 8px !important;
}

@media (min-width: 567px) {
  .ezy__portfolio12_p1q7ACOz-pagination .page-link {
    padding: 10px 18px;
    font-size: 18px;
  }
}


.card-img-top{
  padding: 20px;
}
