.ezy__blogdetails5 {
  /* Bootstrap variables */
  --bs-body-color: rgb(11, 11, 11);
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;
  --ezy-border-color: #e8e2e8;

  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  overflow: hidden;
  padding: 60px 0;
  position: relative;
}

@media (min-width: 768px) {
  .ezy__blogdetails5 {
    padding: 50px 0;
  }
}

/* Gray Block Style */
.gray .ezy__blogdetails5,
.ezy__blogdetails5.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);

  /* Easy Frontend variables */
  --ezy-border-color: #dcdbdc;
}

/* Dark Gray Block Style */
.dark-gray .ezy__blogdetails5,
.ezy__blogdetails5.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);

  /* Easy Frontend variables */
  --ezy-border-color: #ffffff20;
}

/* Dark Block Style */
.dark .ezy__blogdetails5,
.ezy__blogdetails5.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);

  /* Easy Frontend variables */
  --ezy-border-color: #1e2a3b;
}

.ezy__blogdetails5-heading {
  font-weight: 700;
  font-size: 25px;
  line-height: 1;
}

@media (min-width: 768px) {
  .ezy__blogdetails5-heading {
    font-size: 45px;
  }
}

.ezy__blogdetails5-sub-heading {
  font-size: 18px;
  line-height: 25px;
  opacity: 0.8;
}

/* sidebar */
.ezy__blogdetails5-comments {
  border: 1px solid var(--ezy-border-color);
  border-radius: 5px;
}
.ezy__blogdetails5-comments ul li {
  border-bottom: 1px solid var(--ezy-border-color);
  opacity: 0.8;
  letter-spacing: 1px;
}
.ezy__blogdetails5-comments ul li:last-child {
  border-bottom: none;
}

.ezy__blogdetails5 a {
  color: var(--bs-body-color);
  font-weight: 600;
  text-decoration: none;
  transition: 0.4s;
}
.ezy__blogdetails5 a:hover {
  color: var(--ezy-theme-color);
}

/* main contents */
.ezy__blogdetails5-banner {
  max-height: 600px;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}
.ezy__blogdetails5-highlighted-text {
  font-size: 32px;
  font-weight: 700;
  color: var(--ezy-theme-color);
}
.ezy__blogdetails5-contents p {
  line-height: 1.8;
  text-align: justify;
}

.ezy__blogdetails5-comment {
  background-color: rgba(var(--ezy-theme-color-rgb), 0.1);
}

.jobChipContainer{
  margin: 10px 0px;
  .jobChip{
    display: inline-block;
    background-color: rgba(var(--ezy-theme-color-rgb), 0.1);
    margin: 10px 2px;
    border-radius: 30px;
    border: 1px solid lightgray;
    padding: 0px 10px;
  }
}
