.ezy__epprofile5 {
  /* Bootstrap variables */
  --bs-body-color: #212529;
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;
  --ezy-card-bg: #ffffff;
  --ezy-card-shadow: 0px 6px 44px rgba(173, 174, 197, 0.2);
  --ezy-img-bg: #f8f8f8;
  --ezy-border-color: rgba(0, 0, 0, 0.1);

  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  overflow: hidden;
  position: relative;
  padding: 60px 0;
  z-index: 1;
}

@media (min-width: 768px) {
  .ezy__epprofile5 {
    padding: 10px 0;
  }
}

/* Gray Block Style */
.gray .ezy__epprofile5,
.ezy__epprofile5.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);
}

/* Dark Gray Block Style */
.dark-gray .ezy__epprofile5,
.ezy__epprofile5.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);

  /* Easy Frontend variables */
  --ezy-card-bg: rgb(30, 39, 53);
  --ezy-card-shadow: 0px 6px 44px rgba(0, 0, 0, 0.2);
  --ezy-img-bg: #242e3e;
  --ezy-border-color: rgba(255, 255, 255, 0.15);
}

/* Dark Block Style */
.dark .ezy__epprofile5,
.ezy__epprofile5.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);

  /* Easy Frontend variables */
  --ezy-card-bg: rgb(30, 39, 53);
  --ezy-card-shadow: 0px 6px 44px rgba(0, 0, 0, 0.2);
  --ezy-img-bg: #242e3e;
  --ezy-border-color: rgba(255, 255, 255, 0.15);
}

.ezy__epprofile5-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .ezy__epprofile5-heading {
    font-size: 40px;
  }
}

.ezy__epprofile5-sub-heading {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.2;
  color: var(--ezy-theme-color);
}
.ezy__epprofile5-sub-heading:hover {
  color: rgba(var(--ezy-theme-color-rgb), 0.9);
}

.ezy__epprofile5-card {
  background-color: var(--ezy-card-bg);
  box-shadow: var(--ezy-card-shadow);
  border-radius: 10px;
  overflow: hidden;
}

.ezy__epprofile5-nav-item {
  transition: 0.5s;
}
.ezy__epprofile5-nav-item.active,
.ezy__epprofile5-nav-item:hover {
  background-color: var(--ezy-theme-color);
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.ezy__epprofile5-header {
  background-image: url(https://cdn.easyfrontend.com/pictures/profile1-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 350px;
  border-radius: 10px;
  margin-bottom: 150px;
}
.ezy__epprofile5-user {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.ezy__epprofile5-data {
  text-transform: uppercase;
  color: var(--ezy-theme-color);
}
