.alert{
  display: block;
  position: fixed;
  right: 2vw;
  top: 10vh;
  min-width: 20vw;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(186,186,186,1);
  -moz-box-shadow: 5px 5px 10px 0px rgba(186,186,186,1);
  box-shadow: 5px 5px 10px 0px rgba(186,186,186,1);

}
