<section class="ezy__signup1_PQS26JGS d-flex align-items-center">
  <div class="container">
    <div class="row py-4 justify-content-center">
      <div class="col-lg-6">
        <div class="card ezy__signup1_PQS26JGS-form-card">
          <div class="card-body p-md-5">
            <div style="text-align: center;">
              <img src="../../../../assets/logo.png" style="max-height: 15vh;" alt="">
            </div>
            <h2 class="ezy__signup1_PQS26JGS-heading mb-4 mb-md-5">Sign Up</h2>
            <form [formGroup]="signUpForm" (ngSubmit)="postSignUp()">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group mb-4">
                    <label for="first-name" class="mb-2">Full Name</label>
                    <input type="text" class="form-control" formControlName="first_name" id="first-name" placeholder="Your Full Name" />
                    <div *ngIf="signUpForm.get('first_name')?.invalid && (signUpForm.get('first_name')?.dirty || signUpForm.get('first_name')?.touched)" class="text-danger">
                      <div *ngIf="signUpForm.get('first_name')?.errors?.['required']">Full Name is required.</div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb-4">
                    <label for="email" class="mb-2">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="Your Email Address" />
                    <div *ngIf="signUpForm.get('email')?.invalid && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)" class="text-danger">
                      <div *ngIf="signUpForm.get('email')?.errors?.['required']">Email is required.</div>
                      <div *ngIf="signUpForm.get('email')?.errors?.['email']">Invalid email address.</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group mb-4">
                    <label for="password" class="mb-2">Password</label>
                    <div class="input-group">
                      <input
                        [type]="showPassword1 ? 'text' : 'password'"
                        class="form-control"
                        formControlName="password1"
                        id="password"
                        placeholder="Enter Password"
                      />
                      <div class="input-group-append">
                        <span
                          class="input-group-text"
                          (click)="togglePasswordVisibility('password1')"
                          style="cursor: pointer; height: 100%; border: none;"
                        >
                          <i [class]="showPassword1 ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                        </span>
                      </div>
                    </div>
                    <div *ngIf="signUpForm.get('password1')?.invalid && (signUpForm.get('password1')?.dirty || signUpForm.get('password1')?.touched)" class="text-danger">
                      <div *ngIf="signUpForm.get('password1')?.errors?.['required']">Password is required.</div>
                      <div *ngIf="signUpForm.get('password1')?.errors?.['minlength']">Password must be at least 6 characters long.</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group mb-4">
                    <label for="confirm-password" class="mb-2">Confirm Password</label>
                    <div class="input-group">
                      <input
                        [type]="showPassword2 ? 'text' : 'password'"
                        class="form-control"
                        formControlName="password2"
                        id="confirm-password"
                        placeholder="Confirm Password"
                      />
                      <div class="input-group-append">
                        <span
                          class="input-group-text"
                          (click)="togglePasswordVisibility('password2')"
                          style="cursor: pointer; height: 100%; border: none;"
                        >
                          <i [class]="showPassword2 ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                        </span>
                      </div>
                    </div>
                    <div *ngIf="signUpForm.errors?.['mismatch'] && (signUpForm.get('password2')?.dirty || signUpForm.get('password2')?.touched)" class="text-danger">
                      Passwords must match.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group mb-4">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" formControlName="agree" id="agree" />
                  <label class="form-check-label" for="agree">
                    I accept to the <a href="#">terms & condition</a>, <a href="#">privacy policy</a>
                  </label>
                  <div *ngIf="signUpForm.get('agree')?.invalid && (signUpForm.get('agree')?.dirty || signUpForm.get('agree')?.touched)" class="text-danger">
                    You must accept the terms and conditions.
                  </div>
                </div>
              </div>
              <button type="submit" class="btn ezy__signup1_PQS26JGS-btn-submit w-100" [disabled]="signUpForm.invalid">Sign Up</button>
              <div class="text-center mt-4 mt-md-5">
                <p class="mb-0 opacity-50 lh-1">Already have an account?</p>
                <a href="/" class="btn btn-link py-0 text-dark text-decoration-none">Log In</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
