<section>
  <section class="ezy__blog15">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h1 class="ezy__blog15-heading">Job Posts</h1>
        </div>
        <div id="ezy__blog15-controls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <!-- card starts -->
                <ng-container *ngFor="let job of jobPostGrid[0]">
                  <div class="col-12 col-lg-4 mt-4 mt-lg-5">
                    <div class="card">
                      <div class="card-body">
                        <a>
                          <p class="card-text mb-2">
                            <i class="fa  fa-map-marker"></i>
                            {{job.location}}</p>
                        </a>
                        <a style="cursor: pointer;" (click)="viewJob(job)">
                          <h5 class="card-title mb-2">{{job.designation}}</h5>
                        </a>
                        <p class="card-text">{{job.job_description_text}}</p>
                        <div class="d-flex justify-content-between mb-2">
                          <div class="d-flex align-items-center">
                            <!-- <div class="me-2">
                              <img
                                src="https://cdn.easyfrontend.com/pictures/users/user5.jpg"
                                alt=""
                                class="img-fluid rounded-circle border"
                                width="40"
                              />
                            </div> -->
                            <div class="row">
                              <h4 class="mb-0">{{job.company}}</h4>
                            </div>
                          </div>
                          <!-- <a href="#" class="btn btn-outline-primary ezy__blog15-card-btn d-flex align-items-center"
                            ></a
                          > -->
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <!-- card ends -->
              </div>
            </div>
          </div>
          <!-- <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#ezy__blog15-controls"
            data-bs-slide="prev"
          >
            <i class="fa fa-angle-left"></i>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#ezy__blog15-controls"
            data-bs-slide="next"
          >
            <i class="fa fa-angle-right"></i>
          </button> -->
        </div>
      </div>
    </div>
  </section>
</section>
