<section class="ezy__signin1 d-flex align-items-center">
  <div class="container">
    <div class="row py-4 justify-content-center">
      <div class="col-lg-5">
        <div class="card ezy__signin1-form-card">
          <div class="card-body p-md-5">
            <div style="text-align: center;">
              <img src="../../../../assets/logo.png" style="max-height: 15vh;" alt="">
            </div>
            <h2 class="ezy__signin1-heading mb-4 mb-md-5">Reset Password</h2>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-group mb-4 mt-2">
                <label for="email" class="mb-2">Email Address</label>
                <input type="text" class="form-control" formControlName="email" id="email" placeholder="Enter Email Address" />
                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger">
                  <div *ngIf="email?.errors?.['required']">Email is required.</div>
                  <div *ngIf="email?.errors?.['email']">Invalid email address.</div>
                </div>
              </div>
              <div style="padding: 2vh 0px;">
                <button type="submit" class="btn ezy__signin1-btn-submit w-100">Reset Password</button>
                <!-- <button class="btn w-100">Forget your password?</button> -->

              </div>

              <div class="position-relative ezy__signin1-or-separator">
                <hr class="my-4 my-md-5" />
                <span class="px-2">Or</span>
              </div>
              <div class="text-center mt-4 mt-md-5">
                <a href="/login" class="btn btn-link py-0 text-dark text-decoration-none">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
