.active{
  font-weight: 800;
  // color: red !important;
}
nav{
  background-color: #ebebeb;
  -webkit-box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.75);
  ul{
    li{
      color: #00666b;
    }
  }
}
